@import "tailwindcss";

body {
  font-family: "Rubik", sans-serif;
  background-color: #f3f5f7;

  overflow-y: scroll;

  scrollbar-gutter: auto;
}

button {
  cursor: pointer;
}

.clash-display-font {
  font-family: "Clash Display", sans-serif;
}

.app-container {
  @apply container px-6 xl:px-[89px] mx-auto py-4 xl:py-6;
}
